.img-responsive {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
    }
.img-responsive:hover {opacity: 0.5;}
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
        background-color: #666666;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
            }
.no-padding {
    padding: 0;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}